<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="dbConnectionString"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=DB2;Connection Timeout=5;Integrated Security=true;Password=***;User=***;" />
	</connectionStrings>
</configuration>