<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Test"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=testT4;Connection Timeout=5;Integrated Security=False;Password = Man1Utd1;User=sa;" />
	</connectionStrings>
</configuration>