<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Test"
		providerName="System.Data.SqlClient"
		connectionString="Server=localhost;Database=Test;Connection Timeout=5;Integrated Security=False;Password = Axelalvinger2001;User=admin001;" />
	</connectionStrings>
</configuration>